/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #5cbce2;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: #4d3e6b;
    margin-bottom: 20px;
}

/* Estilos del Formulario */
form {
    margin: auto;
    max-width: 900px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 8px 0;
    font-weight: bold;
}

input[type="number"] {
    width: calc(100% - 14px);
    margin-left: 4px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    transition: border 0.3s ease;
}

input[type="number"]:focus {
    border-color: #4d3e6b;
}

fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 12px 0;
    border-radius: 8px;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    color: #4d3e6b;
}

.divOpcion {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 20px 0;
}

button {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #4d3e6b;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3b3056;
}

/* Estilos de las Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0;
    font-size: 0.9em;
    min-width: 800px;
    border: 1px solid #4d3e6b;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #4d3e6b;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    form {
        padding: 10px;
    }

    table {
        font-size: 0.8em;
    }

    button {
        font-size: 1em;
    }
}
